Repository akhshyganesh/HapiTS-MongoStarter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🚧 include few prettier and eslint changes
  .prettierignore
  eslint.config.js
Due: none

🪪 add git url to license
  LICENSE
Due: none

🚧 correct few readme instructions
  README.md
Due: prettier --write

🐞 fix cors error while integration
  src/middleware/validateAuthToken.ts
  src/plugin/responseFormatter.plugin.ts
  src/server.ts
Due: eslint --fix, prettier --write

🚧 clean up bad request with boom response
  src/controller/user.controller.ts
  src/middleware/validateAuthToken.ts
  src/plugin/responseFormatter.plugin.ts
Due: eslint --fix, prettier --write

:sparkles: update folder names and fix minor testcase issue
  package.json
  src/config/db.ts
  src/controllers/user.controller.ts
  src/plugins/responseFormatter.plugin.ts
  src/routes/user.routes.ts
  src/server.ts
  src/test/user-router.test.ts
Due: eslint --fix, prettier --write

:bug: fix cors error and whitelist while giving true
  src/middleware/validateAuthToken.ts
  src/plugins/responseFormatter.plugin.ts
  src/server.ts
Due: eslint --fix, prettier --write

:memo: remove obsolete test files and setup scripts
  tests/integration/auth.test.d.ts
  tests/integration/auth.test.js
  tests/integration/auth.test.js.map
  tests/setup.d.ts
  tests/setup.js
  tests/setup.js.map
Due: eslint --fix, prettier --write

:fire: update logger for saving more meta information
  .husky/pre-commit
  src/utils/logger.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.md)
